In [21]:
import numpy as np
import pandas as pd
import random

In [22]:
df=pd.read_csv('data1/age_salary.csv')

In [23]:
df.head()

   Index   Nation   Age   Salary Purchase_Item
0      0    India  25.0  35000.0            No
1      1   Russia  27.0  40000.0           Yes
2      2  Germany  50.0  54000.0            No
3      3   Russia  35.0      NaN            No
4      4  Germany  40.0  60000.0           Yes

In [24]:
X=df.iloc[:,:-1].values #locate indexes, all rows, 
Y=df.iloc[:,-1].values

In [25]:
print(X)

[[0 'India' 25.0 35000.0]
 [1 'Russia' 27.0 40000.0]
 [2 'Germany' 50.0 54000.0]
 [3 'Russia' 35.0 nan]
 [4 'Germany' 40.0 60000.0]
 [5 'India' 35.0 58000.0]
 [6 'Germany' nan 52000.0]
 [7 'Russia' 48.0 79000.0]
 [8 'Germany' 50.0 83000.0]
 [9 'India' 37.0 nan]
 [10 'Russia' 21.0 24000.0]
 [11 'Germany' nan 60000.0]
 [12 'India' 63.0 70000.0]
 [13 'India' 45.0 50000.0]]

In [26]:
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'No' 'No'
 '?']

In [27]:
df.pop('Nation')

0       India
1      Russia
2     Germany
3      Russia
4     Germany
5       India
6     Germany
7      Russia
8     Germany
9       India
10     Russia
11    Germany
12      India
13      India
Name: Nation, dtype: object

In [28]:
df.head()
df.pop('Index')

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
Name: Index, dtype: int64

In [29]:
df.head()

    Age   Salary Purchase_Item
0  25.0  35000.0            No
1  27.0  40000.0           Yes
2  50.0  54000.0            No
3  35.0      NaN            No
4  40.0  60000.0           Yes

In [44]:
X_sal=np.array([35000,40000,54000,60000,0,58000,52000,79000,83000]).reshape(-1,1)
Y_pur=np.array(['No','Yes','No','No','Yes','Yes','Yes','No','Yes']).reshape(-1,1)

In [45]:
print(X_sal)

[[35000]
 [40000]
 [54000]
 [60000]
 [    0]
 [58000]
 [52000]
 [79000]
 [83000]]

In [46]:
print(Y_pur)

[['No']
 ['Yes']
 ['No']
 ['No']
 ['Yes']
 ['Yes']
 ['Yes']
 ['No']
 ['Yes']]

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [48]:
knn=KNeighborsClassifier(1)

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X_sal,Y_pur,test_size=.2)

In [50]:
knn.fit(X_train,Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [51]:
predict=knn.predict(X_test)

In [52]:
print(predict)

['No' 'No']

In [55]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,predict)

array([[0, 0],
       [2, 0]], dtype=int64)